body {
    background: #f5fbff;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
	overflow-x: hidden;
}
h1, h3, h4 {
    background: #505050;
    color: #68c2ff;
    padding: 5px 10px;
    border-radius: 5px;
	box-shadow: 3px 3px 7px #777;
	-moz-box-shadow: 3px 3px 7px #777;
    -moz-border-radius: 5px
}
h1 {
	padding: 10px;
    color: #808080;	
}
h1, h3 {
    border: 1px solid #606060;	
}
h1 small {
    font-size: 12px;
	color: #E1E1E1;
	font-weight: normal;
	display: block;
	width: 97%;
	position: absolute;
	margin-top: -7px;
	border-top: 1px solid #606060;
}
h4 {
    background: #e1e1e1;
    color: #101010;
}
h4 a {
    color: #101010;
    font-size: 10px;
    float: right;
    font-weight: normal;
}
p {
    width: 90%;	
}
ul li {
    list-style: none;
}
ul li ul li {
    list-style: circle
}
ul.browsers {
    padding: 0;
}
ul.browsers ul {
    padding: 0 10px 0 70px;
	float: left;
	min-height: 50px;	
}
ul.browsers li {
    text-transform: capitalize;
	list-style: square;
}
ul.opera {
    background: url(../images/opera.png) no-repeat;
}
ul.internet.explorer {
    background: url(../images/ie.png) no-repeat;
}
ul.firefox {
    background: url(../images/firefox.png) no-repeat;
}
ul.chrome {
    background: url(../images/chrome.png) no-repeat;
}
ul.safari {
    background: url(../images/safari.png) no-repeat;
}
ul.tags li {
    list-style: none;
	color: #666;
	float: left;
	font-style: italic;
	margin: 0 5px;
}
code {
    background: #fff;
    padding: 25px;
    font-size: 14px;
    border: 3px dashed #e1e1e1;
    border-radius: 10px;
	display: block;
    -moz-border-radius: 10px
}
dfn {
    display: none;	
}
#categories {
	width: 70%;
}
#sidebar {
	width: 30%;
	position: fixed;
	right: 10px;
	top: 20px;
}
#sidebar a {
    background: #505050;
	font-size: 12px;
	overflow: hidden;
    color: #68c2ff;
    padding: 4px;
	text-decoration: none;
	display: block;
	border: 1px solid #606060;
    border-radius: 3px;
    box-shadow: 3px 3px 7px #777;
    -moz-box-shadow: 3px 3px 7px #777;
    -moz-border-radius: 5px
}
#sidebar a:active {
    color: #fff;	
}
.clear {
    clear: both;
	display: block;	
}